article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/* Default Styling */
html {
  font-size: 62.5%;
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 2rem;
  color: #313131;
}

h1,
h2 {
  font-family: 'Josefin Sans', sans-serif;
}

img {
  width: 100%;
  display: block;
}

h1,
h2,
p,
button,
form,
footer {
  margin: 0;
  padding: 0;
}

ul,
li,
a {
  list-style: none;
  text-decoration: none; 
  color: inherit;
}

a:active {
  text-decoration: none;
}

.wrapper {
  max-width: 1255px;
  width: 90%;
  margin: 0 auto;
}

/* Header */
header {
  text-transform: uppercase;
  background-color: #F0B377;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* Main */
.landing {
  height: 70vh;
  background-image: url(./assets/jessica-ruscello-OQSCtabGkSY-unsplash.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 75px;
}


/* Search Bar */

button {
  background-color: #E76155;
  border: 2px solid #E76155;
  color: #FFF;
  padding: 10px 20px;
  margin-left: 10px;
}

input[type="search"] {
  padding: 10px;
  width: 80%;
}

.search-bar-container {
  height: 70vh;
  background-image: url(./assets/jessica-ruscello-OQSCtabGkSY-unsplash.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

footer {
  background-color:#CCCC97;
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer p {
  font-size: 1.6rem;
}

footer a {
  margin-left: 10px;
}

/* Search Results */


.search-results-container {
  height: 100vh;
  padding: 75px 0;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(10, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
  
  .search-results { 
    grid-area: 1 / 1 / 11 / 6; 

  }


  .make-a-list { 
    grid-area: 1 / 6 / 11 / 9;
    border-left: 1px solid #CCCC97; 
  } 













/* Colours */
/* #E76155 */
/* #F0B377 */
/* #CCCC97 */


/* flex whole page so footer stays at the bottom */
