article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/* Default Styling */
html {
  font-size: 62.5%;
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 2rem;
  color: #313131;
}

h1,
h2 {
  font-family: 'Josefin Sans', sans-serif;
}

img {
  width: 100%;
  display: block;
}

input,
textarea,
button {
  border: none;
}

h1,
h2,
p,
button,
form,
footer,
ul,
li {
  margin: 0;
  padding: 0;
}

ul,
li,
a {
  list-style: none;
  text-decoration: none; 
  color: inherit;
}

a:active {
  text-decoration: none;
}

.wrapper {
  max-width: 1255px;
  width: 90%;
  margin: 0 auto;
}

/* Header */
header {
  text-transform: uppercase;
  background-color: #F0B377;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* Main */
.landing {
  height: 70vh;
  background-image: url(./assets/jessica-ruscello-OQSCtabGkSY-unsplash.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 75px;
}


/* Search Bar */

button {
  background-color: #E76155;
  color: #FFF;
  padding: 15px 20px;
  margin-left: 10px;
}

input[type="search"] {
  padding: 15px;
  width: 80%;
  border: none
}

.search-bar-container {
  height: 70vh;
  background-image: url(./assets/jessica-ruscello-OQSCtabGkSY-unsplash.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

footer {
  background-color:#CCCC97;
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer p {
  font-size: 1.6rem;
}

footer a {
  margin-left: 10px;
}

/* Search Results */
.preloader {
  margin: 0 auto;
}

.search-results-container {
  height: 100vh;
  padding: 75px 0;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(10, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
  
.search-results { 
  grid-area: 1 / 1 / 11 / 6; 
  overflow: scroll;

}

.make-a-list { 
  grid-area: 1 / 6 / 11 / 9;
  border-left: 1px solid #CCCC97; 
} 

.display-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

.book-info {
  width: calc(50% - 40px);
  margin: 50px 20px;
}

.book-info img {
  width: 150px;
  margin: 5px auto;
}

.book-info p:nth-of-type(2) {
  margin-bottom: 5px;
}

span {
  font-style: italic;
}

.icon {
  display: flex;
  justify-content: center;
}

svg {
  margin-left: 5px;
  color: #F0B377;
}

.book-list {
  text-align: center;
  margin: 10px;
}

.book-list p {
  color: #E76155;
}



/* To Read Lists */
.placeholder {
  border: 2px dotted black;
  height: 25vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 40px auto;
  padding: 10px;
  font-style: italic;
  background-color: #E3E3E3;
}

input[type="text"] {
  border: 1px solid black;
  padding: 15px;
}

.list-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.list-title p {
  margin: 5px auto;
}

.list-title svg {
  margin-left: 15px;
}

/* Goals Section */
.goals {
  background-color: #E3E3E3;
}

.goal-container {
  display: flex;
  text-align: center;
}

.goal-box {
  width: calc(100%/3);
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.goal1 {
  text-align: left;
}

.set-goal {
  width: 150px;
  margin-top: 20px;
}

html {
  scroll-behavior: smooth;
}

/* Small desktop */
@media(max-width: 1200px) {
  .list-form {
    display: flex;
    flex-direction: column;
    width: 70%;
    align-items: center;
    margin: 0 auto;
  }

  .list-form button {
    margin: 5px 0 0;
  }
}

@media(max-width: 980px) {
  .goal-form {
    display: flex;
    flex-direction: column;
    width: 150px;
  }

  .goal-form button {
    margin: 5px 0 0;
  }
}


/* Tablet */

@media(max-width: 730px) {
  .search-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .search-form button {
    margin: 5px 0 0;
  }

  .book-info {
    font-size: 1.5rem;
  }

  .list-form input {
    width: 100%;
  }
}

@media(max-width: 600px) {
  .display-container {
    flex-direction: column;
    align-items: center;
  }

  .book-info {
    width: 80%;
  }
}

/* Mobile */
@media(max-width: 565px) {
  footer p {
    font-size: 1.3rem;
  }

  .list-title svg {
    font-size: 27px;
  }
}

@media(max-width: 520px) {
  .goal-form input,
  .goal-form button {
    width: 120px;
  }

  .list-form button {
    font-size: 1.4rem;
  }
  
  .placeholder {
    font-size: 1.4rem;
    padding: 10px 3px;
  }

  .list-title svg {
    font-size: 20px;
  }

  .goals {
    font-size: 1.5rem;
  }

  footer p {
    font-size: 1.2rem;
  }
}

/* Small mobile */
@media(max-width: 435px) {
  .list-form button {
    font-size: 1.3rem;
    padding-left: 10px;
    padding-right: 10px;
  }

  .placeholder {
    font-size: 1.3rem;
  }

  .goals {
    font-size: 1.3rem;
  }
  
  .goal-form input,
  .goal-form button {
    width: 100px;
  }

  .list-title svg {
    font-size: 25px;
  }

  footer p {
    font-size: 0.9rem;
  }
}



/* Colours */
/* #E76155 */
/* #F0B377 */
/* #CCCC97 */
/* #FFA818; */


/* flex whole page so footer stays at the bottom */
